*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
html{
    font-size: 62.5%;
}
body{
    background: #EAEBEC;
    
}

.container{
    width:50%;
    min-height: 30rem;
    max-height: auto;
    margin: 25% auto;
    display: flex;
    flex-direction: column;
    border: solid 1px #3A4655;
    box-shadow: 0 8px 50px -7px black;
}
.display-row,.row{
    margin: 0.05rem;

}

.display-row{

    width: 100%;
    min-height: 6rem;
    max-height: auto;
    border: solid;
    background-color: #3A4655;
    padding:0.5rem;

}
.display-text,.display-history{
    font-size: 2.5rem;
    text-align: right;
    color: #fff;
    overflow-wrap: break-word;
}
.display-history{
    font-size: 1.5rem;
    text-align: right;
    color: lightgray;
    overflow-wrap: break-word;
}
.row{
    width: 100%;
    min-height: 6rem;
    max-height: auto;

    display: flex;
    justify-content: space-between;
    background: #3C4857;

}
button{
    flex: 1;
    background: #425062;
    color: #fff;
    font-size: 1.6rem;
}


button:hover {
    background: #E0B612;
  }